<script src="..//lib/jquery/jquery.js"></script>
<script src="../lib/jquery-ui/jquery-ui.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../lib/jquery-toggles/toggles.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


<script src="..//lib/underscore/underscore.js"></script>

<script src="../lib/morrisjs/morris.js"></script>
<script src="../lib/raphael/raphael.js"></script>

<script src="../lib/flot/jquery.flot.js"></script>
<script src="../lib/flot/jquery.flot.resize.js"></script>
<script src="../lib/flot-spline/jquery.flot.spline.js"></script>

<script src="../lib/jquery-knob/jquery.knob.js"></script>

<script src="../js/quirk.js"></script>
<script src="../js/dashboard.js"></script>


<script src="../lib/jquery.steps/jquery.steps.js"></script>
<script src="../lib/jquery-validate/jquery.validate.js"></script>

<script src="../lib/select2/select2.js"></script>

<script src="../javascripts/react/commons.js"></script>

