<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

<title>School Manager - Home</title>

<link rel="stylesheet" href="../lib/Hover/hover.css" />
<link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css" />
<link rel="stylesheet" href="../lib/weather-icons/css/weather-icons.css" />
<link rel="stylesheet" href="../lib/ionicons/css/ionicons.css" />
<link rel="stylesheet" href="../lib/jquery-toggles/toggles-full.css" />
<link rel="stylesheet" href="../lib/morrisjs/morris.css" />
<link rel="stylesheet" href="../lib/jquery.steps/jquery.steps.css" />

<link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.css" />
<link rel="stylesheet" href="../lib/select2/select2.css" />
<link rel="stylesheet" href="../lib/dropzone/dropzone.css" />


<link rel="stylesheet" href="../css/quirk.css" />

<link rel="stylesheet" href="../css/custom.css" />

<link rel="stylesheet" href="../css/multiselect.css" />

<link rel="stylesheet" href="../css/react-datepicker.css" />

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

<script src="../lib/modernizr/modernizr.js"></script>




<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--&lt;!&ndash;[if lt IE 9]>-->
<!--<script src=" ../lib/html5shiv/html5shiv.js")-->
<!--"> </script>-->

<!--<script src="../lib/respond/respond.src.js")-->
<!--"></script>-->
<!--<![endif]&ndash;&gt;-->


