<div class="leftpanel">
    <div class="leftpanelinner">

        <!-- ################## LEFT PANEL PROFILE ################## -->

        <div class="media leftpanel-profile">
            <div class="media-left">
                <a href="#">
                    <img src="../images/photos/loggeduser.png" alt="" class="media-object img-circle"/>
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h4>
            </div>
        </div>


        <ul class="nav nav-tabs nav-justified nav-sidebar">
            <li class="tooltips active" data-toggle="tooltip" title="Subject Teacher"><a data-toggle="tab"
                                                                                         data-target="#mainmenu"><i
                    class="tooltips fa fa-ellipsis-h"></i></a></li>
            <li class="tooltips" data-toggle="tooltip" title="Settings"><a data-toggle="tab" data-target="#settings"><i
                    class="fa fa-cog"></i></a></li>
        </ul>

        <div class="tab-content">

            <!-- ################# MAIN MENU ################### -->

            <div class="tab-pane active" id="mainmenu">
                <h5 class="sidebar-title">Favorites</h5>
                <ul class="nav nav-pills nav-stacked nav-quirk">
                    <li class="active"><a href="#" th:href="@{/index}"><i class="fa fa-home"></i> <span>
                        Dashboard</span></a></li>
                    <li sec:authorize="hasAnyRole('ROLE_SUBJECT_TEACHER', 'ROLE_SUPER_ADMIN')"><a href="#"
                                                                                                  th:href="@{/results/enter-results}"><span>Enter Results</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUBJECT_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                            th:href="@{/results/view-subject-results}"><span>View Results Entered</span></a></li>
                    <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                            th:href="@{/results/view-class-results}">Enter Comments</a></li>
                </ul>

                <h5 class="sidebar-title">Subject Teacher</h5>

                <ul class="nav nav-pills nav-stacked nav-quirk">

                    <li class="nav-parent nav-active" th:if="${page.equals('result')}">
                        <a href=""><i class="fa fa-desktop"></i> <span>Results</span></a>
                        <ul class="children">
                            <li sec:authorize="hasAnyRole('ROLE_SUBJECT_TEACHER', 'ROLE_SUPER_ADMIN')"><a href="#"
                                                                                                          th:href="@{/results/enter-results}">Enter
                                Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_SUBJECT_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/vet-subject-results}">Vet Subject Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_SUBJECT_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/submit-subject-results}">Submit Subject Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/view-subject-results}">View Subject Results</a></li>
                        </ul>
                    </li>

                    <li class="nav-parent" th:if="${!page.equals('result')}">
                        <a href=""><i class="fa fa-desktop"></i> <span>Results</span></a>
                        <ul class="children">
                            <li sec:authorize="hasAnyRole('ROLE_SUBJECT_TEACHER', 'ROLE_SUPER_ADMIN')"><a href="#"
                                                                                                          th:href="@{/results/enter-results}">Enter
                                Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_SUBJECT_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/vet-subject-results}">Vet Subject Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_SUBJECT_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/submit-subject-results}">Submit Subject Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/view-subject-results}">View Subject Results</a></li>
                        </ul>
                    </li>

                </ul>

                <h5 class="sidebar-title" sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')">Class Teacher</h5>

                <ul class="nav nav-pills nav-stacked nav-quirk" sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')">

                    <li class="nav-parent nav-active" th:if="${page.equals('result')}">
                        <a href=""><i class="fa fa-desktop"></i> <span>Results</span></a>
                        <ul class="children">
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/view-class-results}">Enter Comments</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/submit-class-results}">Submit Class Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_RESULT_VETTER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/vet-class-results}">Vet Class Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    href="typography.html">Print Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/view-class-results}">View Class Results</a></li>
                        </ul>
                    </li>

                    <li class="nav-parent" th:if="${!page.equals('result')}">
                        <a href=""><i class="fa fa-desktop"></i> <span>Results</span></a>
                        <ul class="children">
                              <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/view-class-results}">Enter Comments</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/submit-class-results}">Submit Class Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_RESULT_VETTER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/vet-class-results}">Vet Class Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    href="typography.html">Print Results</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_CLASS_TEACHER', 'ROLE_SUPER_ADMIN')"><a
                                    th:href="@{/results/view-class-results}">View Class Results</a></li>
                        </ul>
                    </li>
                </ul>

                <h5 class="sidebar-title" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')">Admin Items</h5>

                <ul class="nav nav-pills nav-stacked nav-quirk" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')">

                    <li class="nav-parent nav-active" th:if="${page.equals('student')}"><a href=""><i
                            class="fa fa-th-list"></i> <span>Students</span></a>
                        <ul class="children">
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')"><a
                                    href="/students/new-student">New Student</a></li>
                            <li><a href="/admin/students">View Students</a></li>
                        </ul>
                    </li>

                    <li class="nav-parent" th:if="${!page.equals('student')}"
                        sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')">
                        <a href=""><i class="fa fa-th-list"></i> <span>Students</span></a>
                        <ul class="children">
                            <li><a href="/students/new-student">New Student</a></li>
                            <li><a href="/admin/students">View Students</a></li>
                        </ul>
                    </li>

                    <li class="nav-parent" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')"><a href=""><i
                            class="fa fa-file-text"></i> <span>Teachers</span></a>
                        <ul class="children">
                            <li><a href="asset-manager.html">New Teacher</a></li>
                            <li><a href="people-directory.html">Assign Subjects</a></li>
                            <li><a href="timeline.html">Assign Class</a></li>
                            <li><a href="profile.html">Assign Vetters</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent nav-active" th:if="${page.equals('admin')}"
                        sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')"><a href=""><i
                            class="fa fa-file-text"></i> <span>Admin</span></a>
                        <ul class="children">
                            <li><a href="/admin/teachers">Teachers</a></li>
                            <li><a href="/admin/students">Students</a></li>
                            <li><a href="/admin/classes">Classes</a></li>
                            <li><a href="/admin/subjects">Subjects</a></li>
                            <li><a href="/admin/financials">Financials</a></li>
                            <li><a href="/admin/sessions">Sessions</a></li>
                        </ul>
                    </li>

                    <li class="nav-parent" th:if="${!page.equals('admin')}"
                        sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')"><a href=""><i
                            class="fa fa-file-text"></i> <span>Admin</span></a>
                        <ul class="children">
                            <li><a href="/admin/teachers">Teachers</a></li>
                            <li><a href="/admin/students">Students</a></li>
                            <li><a href="/admin/classes">Classes</a></li>
                            <li><a href="/admin/subjects">Subjects</a></li>
                            <li><a href="/admin/financials">Financials</a></li>
                            <li><a href="/admin/sessions">Sessions</a></li>
                        </ul>
                    </li>

                    <li class="nav-parent nav-active" th:if="${page.equals('payment')}"
                        sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')"><a href=""><i
                            class="fa fa-th-list"></i> <span>Payments</span></a>
                        <ul class="children">
                            <li><a href="/payments/new-payment-item">New Payment Item</a></li>
                            <li><a href="/payments/payment-items">View Payment Items</a></li>
                        </ul>
                    </li>

                    <li class="nav-parent" th:if="${!page.equals('payment')}"
                        sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')"><a href=""><i
                            class="fa fa-th-list"></i> <span>Payments</span></a>
                        <ul class="children">
                            <li><a href="/payments/new-payment-item">New Payment Item</a></li>
                            <li><a href="/payments/payment-items">View Payment Items</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- tab-pane -->


            <!-- #################### SETTINGS ################### -->

            <div class="tab-pane" id="settings">
                <h5 class="sidebar-title">School Settings</h5>
                <ul class="list-group list-group-settings">
                    <li class="list-group-item">
                        <h5>Daily Newsletter</h5>
                        <small>Get notified when someone else is trying to access your account.</small>
                        <div class="toggle-wrapper">
                            <div class="leftpanel-toggle toggle-light success"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h5>Call Phones</h5>
                        <small>Make calls to friends and family right from your account.</small>
                        <div class="toggle-wrapper">
                            <div class="leftpanel-toggle-off toggle-light success"></div>
                        </div>
                    </li>
                </ul>
                <h5 class="sidebar-title">Security Settings</h5>
                <ul class="list-group list-group-settings">
                    <li class="list-group-item">
                        <h5>Login Notifications</h5>
                        <small>Get notified when someone else is trying to access your account.</small>
                        <div class="toggle-wrapper">
                            <div class="leftpanel-toggle toggle-light success"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h5>Phone Approvals</h5>
                        <small>Use your phone when login as an extra layer of security.</small>
                        <div class="toggle-wrapper">
                            <div class="leftpanel-toggle toggle-light success"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- tab-pane -->


        </div>
        <!-- tab-content -->
    </div>
    <!-- leftpanelinner -->
</div><!-- leftpanel -->