<div class="contentpanel">

    <div class="row">
        <div class="col-md-9 col-lg-8 dash-left">

            <div class="row panel-quick-page">

                <div class="col-xs-4 col-sm-5 col-md-2 page-reports">
                    <div class="panel">
                        <a href="/results/enter-results">
                            <div class="panel-heading">
                                <h4 class="panel-title">Enter Results</h4>
                            </div>
                            <div class="panel-body">
                                <div class="page-icon"><i class="icon ion-arrow-graph-up-right"></i></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 page-statistics">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Statistics</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon"><i class="icon ion-ios-pulse-strong"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 page-products">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Events</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon"><i class="icon ion-ios-calendar-outline"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2 page-events">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Payments</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon"><i class="fa fa-money"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2 page-messages">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Messages</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon"><i class="icon ion-email"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-5 col-md-4 page-user">
                    <div class="panel">
                        <a href="/students">
                            <div class="panel-heading">
                                <h4 class="panel-title">Students</h4>
                            </div>
                            <div class="panel-body">
                                <div class="page-icon"><i class="icon ion-person-stalker"></i></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 page-support">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Manage Support</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon"><i class="icon ion-help-buoy"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 page-privacy">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Privacy</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon"><i class="icon ion-android-lock"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 page-settings">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Settings</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon"><i class="icon ion-gear-a"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->


            <div class="row row-col-join panel-earnings">
                <div class="col-xs-3 col-sm-4 col-lg-3">
                    <div class="panel">
                        <ul class="panel-options">
                            <li><a><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                        </ul>
                        <div class="panel-heading">
                            <h4 class="panel-title">Pending Tasks</h4>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                    <!-- panel -->
                </div>
                <div class="col-xs-9 col-sm-8 col-lg-9">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">Tasks Completed</h4>
                        </div>
                        <div class="panel-body">
                            <div id="line-chart" class="body-chart"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- col-md-9 -->
        <div class="col-md-3 col-lg-4 dash-right">
            <div class="row">
                <div class="col-sm-5 col-md-12 col-lg-6">

                    <div class="panel panel-announcement">
                        <ul class="panel-options">
                            <li><a><i class="fa fa-refresh"></i></a></li>
                            <li><a class="panel-remove"><i class="fa fa-remove"></i></a></li>
                        </ul>
                        <div class="panel-heading">
                            <h4 class="panel-title">Uncompleted Tasks</h4>
                        </div>
                        <div class="panel-body">
                            <h2>A new admin template has been released by <span class="text-primary">ThemePixels</span>
                                with a name <span class="text-success">Quirk</span>
                                is now live and available for purchase!</h2>
                            <h4>Explore this new template and see the beauty of Quirk! <a href="">Take a Tour!</a></h4>
                        </div>
                    </div>
                    <!-- panel -->

                </div>
                <!-- col-md-12 -->
            </div>
            <!-- row -->

            <!--<div class="row">-->
            <!--<div class="col-sm-5 col-md-12 col-lg-6">-->
            <!--<div class="panel panel-success">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">Recent User Activity</h4>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
            <!--<ul class="media-list user-list">-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user2.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading nomargin"><a href="">Floyd M. Romero</a></h4>-->
            <!--is now following <a href="">Christina R. Hill</a>-->
            <!--<small class="date"><i class="glyphicon glyphicon-time"></i>-->
            <!--Just now-->
            <!--</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user10.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading nomargin"><a href="">Roberta F. Horn</a></h4>-->
            <!--commented on <a href="">HTML5 Tutorial</a>-->
            <!--<small class="date"><i class="glyphicon glyphicon-time"></i>-->
            <!--Yesterday-->
            <!--</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user3.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading nomargin"><a href="">Jennie S. Gray</a></h4>-->
            <!--posted a video on <a href="">The Discovery</a>-->
            <!--<small class="date"><i class="glyphicon glyphicon-time"></i>-->
            <!--June 25, 2015-->
            <!--</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user5.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading nomargin"><a href="">-->
            <!--Nicholas T. Hinkle</a></h4>-->
            <!--liked your video on <a href="">The Discovery</a>-->
            <!--<small class="date"><i class="glyphicon glyphicon-time"></i>-->
            <!--June 24, 2015-->
            <!--</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user2.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading nomargin"><a href="">Floyd M. Romero</a></h4>-->
            <!--liked your photo on <a href="">My Life Adventure</a>-->
            <!--<small class="date"><i class="glyphicon glyphicon-time"></i>-->
            <!--June 24, 2015-->
            <!--</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; panel &ndash;&gt;-->
            <!--</div>-->

            <!--<div class="col-sm-5 col-md-12 col-lg-6">-->
            <!--<div class="panel panel-inverse">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">Most Followed Users</h4>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
            <!--<ul class="media-list user-list">-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user9.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading"><a href="">Ashley T. Brewington</a></h4>-->
            <!--<span>5,323</span> Followers-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user10.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading"><a href="">Roberta F. Horn</a></h4>-->
            <!--<span>4,100</span> Followers-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user3.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading"><a href="">Jennie S. Gray</a></h4>-->
            <!--<span>3,508</span> Followers-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user4.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading"><a href="">Alia J. Locher</a></h4>-->
            <!--<span>3,508</span> Followers-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="media">-->
            <!--<div class="media-left">-->
            <!--<a href="#">-->
            <!--<img class="media-object img-circle" src="../images/photos/user6.png"-->
            <!--alt="" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
            <!--<h4 class="media-heading"><a href="">Jamie W. Bradford</a></h4>-->
            <!--<span>2,001</span> Followers-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!-- row -->

        </div>
        <!-- col-md-3 -->
    </div>
    <!-- row -->

</div><!-- contentpanel -->
