a.underline-link {
    text-decoration: underline;
}

h4.panel-title-red {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #d9534f;
    letter-spacing: .2px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}